* {
    border: 1px solid darkgreen;
}

body {
    width: 960px;
    margin: 0px auto;
    background: #97dba0;
}

header {
    height: 200px;
    text-align: center;
}

#main-header {
    width: 50%;
    text-align: center; 
    

}

.menu {
    color: darkgreen;
    list-style: none;
    width: 100px;
    text-align: center;
   

}

img {
    width: 300px;
}

figure {
    width: 305px;
    display: inline-block;
    margin: 0px;

}

